<aside class="sidebar">
    <h2 class="aside-title">Mail Box</h2>
    <input type="email" class="search" placeholder="search by mail"/>
    <div class="list-group">
        <a href="#" class="list-group-item">New</a>
        <a href="#" class="list-group-item active">Inbox</a>
        <a href="#" class="list-group-item">Sent</a>
        <a href="#" class="list-group-item">Draft</a>
        <a href="#" class="list-group-item">Deleted</a>
    </div>
</aside>
<content class="main-content">
    <h1>Input</h1>
    <button class="btn btn-success">add</button>
</content>